.idea
composer.lock
/runtime/
/.settings/
/composer.lock
/.buildpath
/.project
*.log
/vendor/
/node_modules/
laravel-app/.env
laravel-app/storage/*.key
laravel-app/storage/framework/
laravel-app/storage/logs/
laravel-app/bootstrap/cache/*
!laravel-app/bootstrap/cache/.gitignore
